.app-container{
  /* border:1px solid green; */
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dblue);
}

/* Helpers -- */
.w100 {width: 100%;}

/* Form General */
input {
  padding: 2px;
  border-radius: 3px;
  border: 1px solid grey;
  outline:none;
}
input:focus {
  border: 1px solid var(--mblue);
  outline:none;
}
/* Button General */
button{
  border-radius: 3px;
  border: 1px solid lightgrey;
  padding: 2px 4px;
  transition: all 0.2s;
}
button:hover {
  cursor:pointer;
}
button:active{
  transform: scale(1.1);
}
.btn-green {
  border: 1px solid var(--lgreen);
  background-color: var(--slgreen);
}
.btn-green:hover{
  background-color: var(--lgreen);
  border: 1px solid var(--mgreen);
}
.btn-red {
  background-color: var(--slred);
  border: 1px solid var(--mred);
}
.btn-red:hover {
  background-color: var(--lred);
}
.btn-blue {
  border: 1px solid var(--mblue);
  background-color: var(--lblue);
}

/* .btn-blue:hover{
  background-color: var(--mblue);
  border: 1px solid var(--dgreen);
}
 */
