.chat-container {
  min-height: 400px;
  max-height: 500px;
  width:100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--lblue);
  border-radius: 5px;
}
.chat-header {
  width: 100%;
  padding: 0 10px 0 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--lblue);
}
.chat-body {
  /* border: 1px solid blue; */
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 10px; 
}
/* single chat Message   */
.message-div {
  max-width: 48%;
  overflow-wrap: break-word;
  margin: 3px 0;
  padding:2px;
  
}
.message-div[data-id='support'] {
  align-self: flex-start;
}
.message-div[data-id='client'] {
  align-self: flex-end;
}
.message-div p {
  margin: 0 2px;
  padding: 2px;
}
.message-text{
  background-color: aliceblue;
}
.message-time, .message-user {
  font-size: 0.8rem;
}
/* New Message Form ---- */
.form-container {
  width: 100%;
}
.error {
  color: var(--error);
  font-size: 0.8rem;
}
.chat-form {
  display: flex;
  justify-content: center;
  border: 1px solid var(--lblue);
  width: 100%;
}
.chat-form textarea {
  padding:5px;
  width: 100%;
  overflow-y: auto;
  font-size: 1rem;   
}
.chat-form button[type='submit'] {
  width: 50px;
}
