/* Override HomePage.css heading styles */
.h3 {
  font-size: 20px; color: var(--font-color); font-weight: 500;
  margin: 2px 0;
}
.h4{
  font-size: 18px; color: var(--font-color); font-weight: 500;
  margin: 0px 0;
}

/* Chat Window Layout */
.chat-window-container{
  /* height: 400px;  height set in ChatBlock.js line 19*/ 
  /* width:300px; width set in ChatBlock.js line 20 */
  position: fixed;
  right: 60px;
  bottom: 20px;
  overflow: auto;;
  border-radius: 3px;
  background-color: white;
  transition: height ease-in-out 0.4s, width 0.4s, opacity 0.3s;
  background-color: #fffbf1;
}
.chat-window-container:hover{
  opacity: 1 !important;
}
.chat-container {
  width:100%;
  height: 80%;
  padding-top: 4px;
}
.chat-header {
  width: 100%;
  padding: 5px 7px;
  border-bottom: var(--lblue);
  background-color: var(--dblue); 
}
.chat-header h4 {
  margin: 5px 0; 
  color: white;
  margin-top: 0;
}
.chat-header p {
  color: white;
}

/* Chat Body ----- */
.chat-body {
  box-shadow: inset 0 0 1px 1px rgb(216, 216, 216, 0.6);
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding: 5px 8px;
  margin: 20px auto 0 auto; 
}
/* single chat Message   */
.message-div {
  max-width: 48%;
  overflow-wrap: break-word;
  margin: 3px 0;
  padding:2px;
  display: block;
}
.message-div[data-id='support'] {
  align-self: flex-start;
  text-align: start;
}
.message-div[data-id='client'] {
  align-self: flex-end;
  text-align: end;
}
.message-div p {
  margin: 0 2px;
  padding: 3px;
}
.message-text{
  background-color: white;
  border-radius: 5px;
  outline: auto;
  border-color: #1c3074;
}
.message-time, .message-user {
  font-size: 0.8rem;
}
/* New Message Form ---- */
.form-container {
  margin-bottom: 3px;
  width: 100%;
}
.error {
  color: var(--error);
  font-size: 0.8rem;
  margin-bottom: 1px;
}
.chat-form {
  display: flex;
  justify-content: center;
  width: 100%;
  height:100%;
}
.chat-form textarea {
  padding:5px;
  width: 83%;
  height: 60px;
  resize: none;
  overflow-y: auto;
  font-size: 1rem;  
  outline:none;
  border: 1px solid lightgrey;
}
.chat-form textarea:focus{
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px var(--mblue);
}
.chat-form .mes-send-btn {
  width: 50px;
  height: 60px;
  margin-left: 4px;
  border: 1px solid #4567d6;
  background-color: #4567d6;
}
.close-chat-icon {
  position: absolute;
  top: 2px; right: 2px;
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  justify-content: center;
  height: 20px;
  width:30px;
  font-size: 26;
  font-weight: 600;
  cursor:pointer;
  background: white;
  border: 1px solid var(--dblue);
}
.back-icon {
  position: absolute;
  top: 2px; right: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  justify-content: center;
  height: 20px;
  width:30px;
  font-size: 26;
  font-weight: 600;
  cursor:pointer;
  background: white;
  border: 1px solid var(--dblue);
}
 .logout-btn {
   position: absolute;
   top: 3px; right: 45px;
   padding: 2px;
  font-size: 0.7rem;
 }
 .neo-icon-agents {
  position: fixed;
  right: 50px;
  bottom: 23px;
  display:block;
  cursor: pointer;
  font-size: 38px;
  background-color: white;
  border: white;
  padding: 7px;
  border-radius: 50%;
  box-shadow: 0 0 0px 1px var(--mblue),
  0 0 0px 4px rgba(240, 241, 243, 0.8);
  opacity: 0.8;
  transition: opacity 0.2s;
}
.neo-icon-agents:hover {
  opacity: 1 !important;
}

/* Knowledge Base -------- */
.KB-div {
  border-top-style: ridge;
  margin-top: 1px;
  padding: 10px;
}
.search-input-div{
  display: flex;
  flex-flow: row nowrap;
}
.search-form input {
  margin-top: 1px;
  padding: 3px;
  flex-grow: 1;
}
.search-form input:focus{
  border: none;
  outline:none;
}

.search-results-div{
  height: 25%;
  overflow-y: auto;
} 

.landing {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url("../assets/home-image_one.svg");
  background-repeat: no-repeat;
  background-size: 150%;
}

.landing .landing-intro {
  padding: 20px;
  padding-top: 10%;
  padding-bottom: 10%;
  color: white;
}

.landing .landing-intro h4 {
  color: white;
  padding: 1px;
}

.landing .landing-intro p {
  color: white;
  padding: 1px;
}

.landing .landing-convo {
  width: 75%;
  background-color: white;
  box-shadow: 0px 8px 16px black;
  padding: 10px;
  color: #1d2951;
}

.landing .landing-form {
  padding-top: 10px;
}
.landing textarea {
  resize: none;
  width: 100%;
}

.landing .textarea-btn {
  width: 100%;
  padding: 2px;
  background-color: #1d2951;
  color: white;
  box-shadow: 0px 1px 2px black;
}

.landing .KB-div {
  padding-top: 10%;
  height: 25%;
}

.landing .kb-btn {
  width: 15%;
  margin-left: 5px;
}

.landing .search-results-container {
  padding-top:10px;
}