.chat-window-container{
  height: 400px;
  width:370px;
  position: fixed;
  overflow: hidden;
  right: 55px;
  bottom: 20px;
  transition: height ease-in-out 0.4s;
  border: 1px solid lightgrey;
  box-shadow: 0 0 2px 2px rgb(237, 238, 242, 0.6);

  border-radius: 4px;
}
.chat-container {
  width:100%;
  height: 92%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid var(--lblue); */
  border-radius: 4px;

}
.chat-header {
  width: 100%;
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--lblue);
  background-color: var(--slgreen);
}
.chat-header h4, .logout-div {
  margin: 6px 0; 
}
.logout-div span {
  margin-right: 12px;
}

/* Chat Body ----- */
.chat-body {
  /* border: 1px solid blue; */
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  width: 100%;
  padding: 5px 8px;
  margin-bottom: 10px; 
}
/* single chat Message   */
.message-div {
  max-width: 48%;
  overflow-wrap: break-word;
  margin: 3px 0;
  padding:2px;
  
}
.message-div[data-id='support'] {
  align-self: flex-start;
}
.message-div[data-id='client'] {
  align-self: flex-end;
}
.message-div p {
  margin: 0 2px;
  padding: 3px;
}
.message-text{
  background-color: aliceblue;
  border-radius: 5px;
}
.message-time, .message-user {
  font-size: 0.8rem;
}
/* New Message Form ---- */
.form-container {
  width: 100%;
}
.error {
  color: var(--error);
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.chat-form {
  display: flex;
  justify-content: center;
  border: 1px solid var(--lblue);
  width: 100%;
}
.chat-form textarea {
  padding:5px;
  width: 100%;
  overflow-y: auto;
  font-size: 1rem;   
}
.chat-form button[type='submit'] {
  width: 50px;
  color: var(--dgreen);
}
.open-chat-div {
  height: 35px;
  position: relative;
}
.open-chat-btn {
  width: 100%;
  height: 100%;
  background-color: var(--mblue);
  color: white;
  font-size: 1rem;
  cursor:"pointer";
}
.open-chat-btn:active {
  transform: scale(1);
}
.open-chat-icon {
  color: white;
  position: absolute;
  right: 20px; top: 7px;
  font-size: 18px;
}
