*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0; padding:0;
  font-size: 16px;
  color: var(--font-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Colors vars ------ 

*/
:root {
  --font-color: #3c3d41;
  --lblue: #d4defa;
  --mblue: #3457b6;
  --dblue: #16358a;
  --slgreen:  #d9f8df;
  --lgreen:  #a8f3ca;
  --mgreen: #33bd78;  /* var(--green); */
  --dgreen: #0a723e;  /* var(--green); */
  --slred: rgb(252, 235, 244);
  --lred: rgb(247, 221, 235);
  --mred: rgb(223, 166, 195);
  --error: rgb(179, 31, 105);
}
