.login-container {
  /* border: 1px solid lightgrey; */
  height: 60%;
  border-radius: 4px;
  margin-bottom: 10px;
  display:flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
<<<<<<< HEAD
=======

>>>>>>> andy2
}

.login-form {
  /* border: 1px solid blue; */
  margin-top: 25px;;
  width:70%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.name-input {
  width: 100%;
  display:block;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 16px;
}
.login-form input:focus{
  border: none;
  border-bottom: 1px solid var(--mblue);
}

.buttons-div{
  margin: 10px 0;
  width:100%;
  display:flex;
  justify-content: space-around;
}

.level-btn{
  padding: 5px 8px;
}

#join-btn{
  margin: 20px auto;
  padding:7px;
}
